*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    text-decoration:none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family:"poppins",sans-serif;
}
 :root{
    --bg-color:#111111;
    --second-bg-color:#151515;
    --text-color:white;
    --main-color:#04fffb;
    
 }
 html{
    font-size:62.5%;
    overflow-x: hidden;
 }
 body{
    background:var(--bg-color);
    color:var(--text-color);
 }
 .header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 3rem 9%;
    background:rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index:100;
 }
 .header a{
    font-weight: bold;

 }
 .logo{
    font-size: 3rem;
    color:var(--text-color)
    fontw 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;

 }
 .logo:hover{
    transform: scale(1.1);
 }
 .navbar a{
    font-size: 1.8rem;
    color:white;
    margin-left: 4rem;
    font-weight:500;
    transition:0.3s ease-in-out;
    border-bottom:3px solid transparent;
 }
 .navbar a:hover,
 .navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);

 }
 #menu-icon{
    font-size: 3.6rem;
    color:var(--main-color);
    display: none;
 }
section{
    min-width: 100vh;
    padding:10rem 9% 10rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
.home-content{
    display: flex;
    align-items : center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}
span{
    color:var(--main-color);
}
.logo span{
    color:var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position:relative;
    top:3rem;
    width: 18vw;
    height:35vh;
    border-radius: 50%;
    box-shadow: 0 0 15px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 1000px;
}
.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color:var(--main-color);
    margin:3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color:white;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display:inline-block;
    padding:1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color:white;
    border:2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor:pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow:0 0 25px var(--main-color);
}
.text-animation{
    font-size:34px;
    font-weight: 600;
    min-height: 2px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: 'UI Designer';
    color:var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content:"";
    background-color:var(--bg-color);
    position:absolute;
    width:auto;
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right:-8px;
}
    .about{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:10rem;
        background:var(--second-bg-color) ;
        color:white;
    }
.about h2 span{
    color:var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}
.about-img{
    border-radius: 50%;
}
.about-img img{
    position: relative;
    width: 22vw;
    height:40vh;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    top:1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 50px var(--main-color),0 0 100px var(--main-color);
}
.heading{
    text-align: center;
    font-size: 8rem;
}
.about-content h2{
    text-align: left;
    line-height:1.5;
}
.about-content h3{
    font-size:2.6rem;
}
.about-content p{
    font-size:1.6rem;
    margin:2rem 0 3rem;
}
.about-content .text-animation span::before{
    content: 'UI Designer';
    color:var(--main-color);
    animation: words 20s infinite;
}
.about-content .text-animation span::after{
    content:"";
    background-color:var(--second-bg-color);
    position:absolute;
    width:auto;
    height: 100%;
    border-left: 3px solid var(--second-bg-color);
    right:-8px;
}
.Interests{
    background:var(--bg-color);
    color:white;
    
}

.Interests h2{
    margin-bottom :5rem;
    color:white;
    font-size:4rem;
}
.interests-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items:center;
    gap:2.5rem;
}
.interests-box{
    background-color: var(--main-color);
    color:black;
    height:180px;
    border-radius: 3rem;
    cursor:pointer;
    transition: 0.3s ease-in-out;
}
.interests-box:hover{
    background: white;;
    color:var(--main-color);
    transform: scale(1.03);
}
.interests-box .interests-info{
    display:flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5em;
}
.interests-info h4{
    font-size: 2.0rem;
    font-weight: 500;
    margin-bottom:1rem;
    font-weight: bold;
    
}
.interests-info p{
    font-size:1.3rem;
    font-weight:400;
    max-height: 100px;
    margin:auto;

}
.contact{
    background-color: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color:white;
}
.contact form{
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width:100%;
    padding:1.5rem;
    font-size: 1.rem;
    color:var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin:1rem 0;
    resize: none;
}
.contact form .btn{
    margin-top : 2rem;
}
.contact .heading{
    font-size: 4rem;
}
.footer{
    position:relative;
    bottom: 0;
    width:100%;
    padding:40px 0;
    background-color: var(--bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color:var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color:var(--main-color);
    border: 2px solid var(--main-color);
    width:42px;
    height:42px;
    line-height:42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin:0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform:scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color:white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    color:var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color:white;
}
@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .interests-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding:10rem 3% 2rem;
    }
    .interests{
        padding-bottom:7rem;
    }
    .footer{
        padding:2rem 3%;
    }
}
@media(max-width:895px) and  (min-width:600px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top:100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background:rgba(0,0,0,0.9);
        backdrop-filter: blur(20px);
        border-bottom-left-radius:2rem ;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display:block;
        font-size: 2rem;
        margin:3rem 0;
        color:white;
    }
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
        margin-top: -2rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-content{
        margin: 0 2rem 4rem;
    }
    .about img{
        width: 52vw;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .Interests h2{
        margin-bottom: 3rem;
    }
    .interests-container{
        grid-template-columns: repeat(1,1fr);
    }
}